<app-instructor-navbar></app-instructor-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- My Courses -->
        <div class="my-courses-tabs">
            <ngx-tabset>
                <ngx-tab tabTitle="All Courses">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-1.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">$25.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Complete Guideline From Zero To Hero In Web Development
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-2.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">Free</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Successful Course: Robot Humanoid Walk An Upstairs Success
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-3.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">$30.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Graphic Design Masterclass: Graphic Design Course A-z
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-4.jpg" alt="Image">
                                    <span class="levels">Beginner</span>
                                    <span class="price">$20.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Photography Is A Complete Guideline For Easy Learning
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-5.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">$39.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Finance Fundamentals - Easy Guide To Better
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-6.jpg" alt="Image">
                                    <span class="levels">Beginner</span>
                                    <span class="price">Free</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Essential Guide To Fashion Design Beginner Course
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-7.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">$75.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Machine Learning A-z. Data Science And Machine
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-8.jpg" alt="Image">
                                    <span class="levels">Beginner</span>
                                    <span class="price">$30.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Medical Terminology - Start Basic Learning Course
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Active Courses">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-2.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">Free</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Successful Course: Robot Humanoid Walk An Upstairs Success
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-4.jpg" alt="Image">
                                    <span class="levels">Beginner</span>
                                    <span class="price">$20.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Photography Is A Complete Guideline For Easy Learning
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-5.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">$39.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Finance Fundamentals - Easy Guide To Better Finances
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-7.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">$75.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Machine Learning A-z. Data Science And Machine Learning
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Expired Courses">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-1.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">$25.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Complete Guideline From Zero To Hero In Web Development
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-3.jpg" alt="Image">
                                    <span class="levels">All Levels</span>
                                    <span class="price">$30.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Graphic Design Masterclass: Graphic Design Course A-z
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-6.jpg" alt="Image">
                                    <span class="levels">Beginner</span>
                                    <span class="price">Free</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Essential Guide To Fashion Design Beginner Course
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="single-course-item">
                                <a routerLink="/courses-details" class="courses-img">
                                    <img src="assets/images/courses/course-8.jpg" alt="Image">
                                    <span class="levels">Beginner</span>
                                    <span class="price">$30.00</span>
                                </a>
                                <div class="courses-content">
                                    <h3>
                                        <a routerLink="/courses-details">
                                            Medical Terminology - Start Basic Learning Course
                                        </a>
                                    </h3>
                                    <ul class="action d-flex justify-content-between align-items-center">
										<li>
											<button class="default-btn">
												Edit
											</button>
										</li>
										<li>
											<button class="default-btn delete">
												Delete
											</button>
										</li>
									</ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
            </ngx-tabset>
        </div>

    </div>
</div>