<!-- Navbar -->
<nav class="db-navbar navbar navbar-light bg-light">
    <div class="container-fluid">
        <a routerLink="/student-dashboard" class="navbar-brand me-0">
            <img src="assets/images/logo.png" alt="Image">
        </a>
        <h3>Tableau de bord</h3>
        <button class="navbar-toggler" type="button" (click)="sidebarSwitcherToggleClass()">
            <span class="burger-menu">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </span>
        </button>
        <ul class="db-others-option d-flex mb-0 align-items-center">
            <!-- <li>
                <a routerLink="/become-an-instructor">
                    Become an instructor
                </a>
            </li> -->
            <li class="db-dropdown">
                <div class="db-option" [class.active]="switcherClassApplied"> 
                    <button class="dropdown-toggle" type="button" (click)="switcherToggleClass()">
                        <img src="assets/images/admin.jpg" alt="Image">
                        <ng-container *ngIf="(user$|async) as user">
                            <span>{{user.firstName}}</span>
                        </ng-container>
                    </button>
                    <div class="dropdown-menu"> 
                        <a class="dropdown-item" routerLink="/student-settings">Paramètres</a>
                        <a class="dropdown-item cursor-pointer" (click)="signOut()">Déconnexion</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
