<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h2>Créez votre compte</h2>
            <ul class="pages-link">
                <li><a routerLink="/">Accueil</a></li>
                <li class="active">Inscription</li>
            </ul>
        </div>
    </div>
</div>

<!-- Register -->
<div class="user-area ptb-100">
    <div class="container">
        <div class="user-form-content register-width">
            <notifier-container></notifier-container>
            <h3>S'inscrire</h3>
            <form class="user-form" [formGroup]="signUpForm" #signUpNgForm="ngForm">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Nom et prénom *</label>
                            <input 
                                class="form-control" 
                                type="text"
                                id="firstName"
                                [formControlName]="'firstName'"
                                placeholder="Vueillez saisir votre nom complet">
                            <div *ngIf="signUpForm.controls['firstName'].invalid && signUpForm.controls['firstName'].touched"
                                class="text-danger">
                                <div *ngIf="signUpForm.controls['firstName'].hasError('required')">
                                    Le nom est obligatoire
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Nom d'utilisateur *</label>
                            <input 
                                class="form-control" 
                                type="text" 
                                [formControlName]="'userName'"
                                placeholder="Vueillez saisir votre nom d'utilisateur">
                            <div *ngIf="signUpForm.controls['userName'].invalid && signUpForm.controls['userName'].touched"
                                class="text-danger">
                                <div *ngIf="signUpForm.controls['userName'].hasError('required')">
                                    Le nom d'utilisateur est obligatoire
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Type de compte *</label>
                            <select 
                                class="form-select form-control" 
                                aria-label="Default select example"
                                [formControlName]="'type'"
                                (change)="updateForm()">
                                <option value="" disabled selected>Selectionnez un type de compte</option>
                                <option value="ELEVE">Élève</option>
                                <option value="PARENT">Parent</option>
                            </select>
                            <div *ngIf="signUpForm.controls['type'].invalid && signUpForm.controls['type'].touched"
                                class="text-danger">
                                <div *ngIf="signUpForm.controls['type'].hasError('required')">
                                    Le type de compte est obligatoire
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="signUpForm.controls['type'].value === 'ELEVE'">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label>Classe *</label>
                                <select 
                                    class="form-control form-select" 
                                    aria-label="Default select example"
                                    [formControlName]="'level'">
                                    <option value="" disabled selected>Selectionnez une classe</option>
                                    <ng-container *ngIf="(classes$ |async) as classes">
                                        <ng-container *ngFor="let class of classes">
                                            <option [value]="'class.id'">{{class.title}}</option>
                                        </ng-container>
                                    </ng-container>
                                </select>
                                <div *ngIf="signUpForm.controls['level'].invalid && signUpForm.controls['level'].touched"
                                class="text-danger">
                                    <div *ngIf="signUpForm.controls['level'].hasError('required')">
                                        La classe est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label>Date de naissance *</label>
                                <input 
                                    class="form-control" 
                                    type="date" 
                                    [formControlName]="'birthday'">
                                <div *ngIf="signUpForm.controls['birthday'].invalid && signUpForm.controls['birthday'].touched"
                                    class="text-danger">
                                    <div *ngIf="signUpForm.controls['birthday'].hasError('required')">
                                        La datate de naissance est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label>Établissement *</label>
                                <select 
                                    class="form-control form-select" 
                                    aria-label="Default select example"
                                    [formControlName]="'currentSchool'">
                                    <option value="" disabled selected>Selectionnez votre école</option>
                                    <ng-container *ngIf="(schools$ |async) as schools">
                                        <ng-container *ngFor="let school of schools">
                                            <option [value]="'school.id'">{{school.name}}</option>
                                        </ng-container>
                                    </ng-container>
                                </select>
                                <div *ngIf="signUpForm.controls['currentSchool'].invalid && signUpForm.controls['currentSchool'].touched"
                                    class="text-danger">
                                    <div *ngIf="signUpForm.controls['currentSchool'].hasError('required')">
                                        L'école est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label>Adresse e-mail du parent</label>
                                <input 
                                    class="form-control" 
                                    type="email" 
                                    [formControlName]="'parentEmail'"
                                    placeholder="Vueillez saisir l'adresse email de votre parent">
                                <div *ngIf="signUpForm.controls['parentEmail'].invalid && signUpForm.controls['parentEmail'].touched"
                                    class="text-danger">
                                    <div *ngIf="signUpForm.controls['parentEmail'].hasError('required')">
                                        L'adresse e-mail du parent est obligatoire
                                    </div>
                                    <div *ngIf="signUpForm.controls['parentEmail'].hasError('email')">
                                        Vueillez saisir un e-mail valide
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="signUpForm.controls['type'].value === 'PARENT'">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label>Adresse e-mail *</label>
                                <input 
                                    class="form-control" 
                                    type="email" 
                                    [formControlName]="'email'"
                                    placeholder="Vueillez saisir votre adresse email">
                                <div *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched"
                                    class="text-danger">
                                    <div *ngIf="signUpForm.controls['email'].hasError('required')">
                                        L'adresse e-mail est obligatoire
                                    </div>
                                    <div *ngIf="signUpForm.controls['email'].hasError('email')">
                                        Vueillez saisir un e-mail valide
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Mot de passe *</label>
                            <input 
                                class="form-control" 
                                type="password" 
                                [formControlName]="'password'"
                                placeholder="Vueillez saisir votre mot de passe">
                            <div *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].touched"
                                class="text-danger">
                                <div *ngIf="signUpForm.controls['password'].hasError('required')">
                                    Le mot de passe est obligatoire
                                </div>
                                <div *ngIf="signUpForm.controls['password'].hasError('minlength')">
                                    Le mot de passe doit avoir minimum 6 caractères
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Confirmer le mot de passe *</label>
                            <input 
                                class="form-control" 
                                type="password" 
                                [formControlName]="'passwordConfirm'"
                                placeholder="Vueillez saisir à nouveau votre mot de passe">
                            <div *ngIf="signUpForm.controls['passwordConfirm'].invalid && signUpForm.controls['passwordConfirm'].touched"
                                class="text-danger">
                                <div *ngIf="signUpForm.controls['passwordConfirm'].hasError('required')">
                                    La confirmation du mot de passe est requise
                                </div>
                                <div *ngIf="signUpForm.controls['passwordConfirm'].hasError('mustMatch')">
                                    Les mots de passe doivent correspondre
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                value="" 
                                id="flexCheckDefault"
                                [formControlName]="'agreements'">
                            <label class="form-check-label mb-0" for="flexCheckDefault">
                                J'accepte les <a routerLink="/terms-conditions">conditions</a> et la <a routerLink="/privacy-policy">politique de confidentialité</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <button 
                            class="default-btn"
                            [ngClass]="{'disable' : signUpForm.disabled || signUpForm.invalid}"
                            [disabled]="signUpForm.disabled || signUpForm.invalid"
                            (click)="signUp()">
                                S'inscrire
                        </button>
                    </div>
                    <div class="col-12 col-md-12">
                        <span class="or">Ou s'inscrire avec</span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <button type="button" class="or-login facebook">Facebook</button>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <button type="button" class="or-login google">Google</button>
                    </div>
                    <div class="col-12 col-md-12">
                        <p class="create">Vous avez déjà un compte? <a routerLink="/login">Se connecter</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>