<app-navbar></app-navbar>

<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-content">
            <h2>Connectez-vous à votre compte</h2>
            <ul class="pages-link">
                <li><a routerLink="/">Accueil</a></li>
                <li class="active">Connexion</li>
            </ul>
        </div>
    </div>
</div>

<!-- Login -->
<div class="user-area ptb-100">
    <div class="container">
        <div class="user-form-content log-in-width">
            <h3>Se connecter</h3>
            <form class="user-form">
                <div class="row">
                    <div class="col-lg-12 col-md--12">
                        <div class="form-group">
                            <label>Nom d'utilisateur ou email *</label>
                            <input class="form-control" type="text" name="name">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md--12">
                        <div class="form-group">
                            <label>Mot de passe *</label>
                            <input class="form-control" type="password" name="password">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md--12">
                        <div class="login-action">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Se souvenir de moi</label>
                            </div>
                            <span class="forgot-login"><a routerLink="/forgot-password">Mot de passe oublié?</a></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md--12">
                        <button class="default-btn" type="submit">Se connecter</button>
                    </div>
                    <div class="col-lg-12 col-md--12">
                        <span class="or">Ou se connecter avec </span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <button type="button" class="or-login facebook">Facebook</button>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <button type="button" class="or-login google">Google</button>
                    </div>
                    <div class="col-lg-12 col-md--12">
                        <p class="create">Vous n'avez pas encore de compte? <a routerLink="/register">S'inscrire</a></p> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>