<!-- <app-user-navbar></app-user-navbar> -->

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- My Courses -->
        <div class="my-courses-tabs">
            <ngx-tabset>
                <ngx-tab tabTitle="Tous les Cours">
                    <div class="row">
                        <ng-container *ngIf="(courses$|async) as courses">
                            <ng-container *ngFor="let course of courses">
                                <div class="col-xl-3 col-sm-6">
                                    <div class="single-course-item">
                                        <a [routerLink]="['details', course.id]" class="courses-img">
                                            <img src="assets/images/courses/course-1.jpg" alt="Image">
                                            <span class="levels">{{course.level}}</span>
                                            <!-- <span class="price">$25.00</span> -->
                                            <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                                        </a>
                                        <div class="courses-content">
                                            <h3>
                                                <a [routerLink]="['details', course.id]">
                                                   {{course.chapterTitle}}
                                                </a>
                                            </h3>
                                            <ul class="review">
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><i class="ri-star-fill"></i></li>
                                                <li><span>5.00(15)</span></li>
                                            </ul>
                                            <ul class="status d-flex justify-content-between align-items-center">
                                                <li>
                                                    <i class="ri-time-line"></i>
                                                    7 Total hours
                                                </li>
                                                <li>
                                                    <i class="ri-bar-chart-horizontal-line"></i>
                                                    <strong>100% Completed</strong>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Cours actifs">
                    <div class="row">
                        <ng-container *ngIf="(courses$|async) as courses">
                            <ng-container *ngFor="let course of courses">
                                <ng-container *ngIf="course.state === 'ACTIF'">
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="single-course-item">
                                            <a routerLink="/courses-details" class="courses-img">
                                                <img src="assets/images/courses/course-2.jpg" alt="Image">
                                                <span class="levels">{{course.level}}</span>
                                                <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                                            </a>
                                            <div class="courses-content">
                                                <h3>
                                                    <a routerLink="/courses-details">
                                                        {{course.chapterTitle}}
                                                    </a>
                                                </h3>
                                                <ul class="review">
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-line"></i></li>
                                                    <li><span>4.00(20)</span></li>
                                                </ul>
                                                <ul class="status d-flex justify-content-between align-items-center">
                                                    <li>
                                                        <i class="ri-time-line"></i>
                                                        3 Total hours
                                                    </li>
                                                    <li>
                                                        <i class="ri-bar-chart-horizontal-line"></i>
                                                        <strong>75% Completed</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Cours terminés">
                    <div class="row">
                        <ng-container *ngIf="(courses$|async) as courses">
                            <ng-container *ngFor="let course of courses">
                                <ng-container *ngIf="course.state === 'TERMINE'">
                                    <div class="col-xl-3 col-sm-6">
                                        <div class="single-course-item">
                                            <a routerLink="/courses-details" class="courses-img">
                                                <img src="assets/images/courses/course-1.jpg" alt="Image">
                                                <span class="levels">{{course.level}}</span>
                                                <!-- <span class="price">$25.00</span> -->
                                                <button type="submit" class="wishlist"><i class="ri-heart-line"></i></button>
                                            </a>
                                            <div class="courses-content">
                                                <h3>
                                                    <a routerLink="/courses-details">
                                                        {{course.chapterTitle}}
                                                    </a>
                                                </h3>
                                                <ul class="review">
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><i class="ri-star-fill"></i></li>
                                                    <li><span>5.00(15)</span></li>
                                                </ul>
                                                <ul class="status d-flex justify-content-between align-items-center">
                                                    <li>
                                                        <i class="ri-time-line"></i>
                                                        7 Total hours
                                                    </li>
                                                    <li>
                                                        <i class="ri-bar-chart-horizontal-line"></i>
                                                        <strong>100% Completed</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </ngx-tab>
            </ngx-tabset>
        </div>

    </div>
</div>