<div class="banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="top-title">POUR UN AVENIR MEILLEUR</span>
                    <h1>Nous avons une collection de <span>Cours</span> de toutes sortes</h1>
                    <p>Améliorer votre niveau scolaire en consultant nos cours </p>
                    <div class="search-bar">
                        <form>
                            <input class="form-control" type="search" placeholder="Recherche" aria-label="Search">
                            <button class="btn search-btn" type="submit">
                                <i class="ri-search-line"></i>
                            </button>
                        </form>
                    </div>
                    <ul class="popular-courses-tag">
                        <li>
                            <span>Cours populaires:</span>
                        </li>
                        <li>
                            <a href="search.html">Mathématiques</a>
                            <a href="search.html">Physique</a>
                            <a href="search.htmml">Chimie</a>
                            <a href="search.html">Biologie</a>
                            <a href="search.html">Français</a>
                            <a href="search.html">Anglais</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-img">
                    <img src="assets/images/banner/banner-img.png" alt="Image">
                </div>
            </div>
        </div>
        <div class="new-additions-content">
            <!-- <div class="new-additions">
                <div class="new-brand">
                    <img src="assets/images/new-additions.png" alt="Image">
                </div>
                <h6>Nouveaux cours ajoutés publiés chaque mois</h6>
                <p>Choose from <span>25,000 +</span> online video courses</p>
            </div> -->
        </div>
    </div>
    <div class="banner-shape-left"><img src="assets/images/banner/banner-shap-left.png" alt="Image"></div>
</div>