<app-user-navbar></app-user-navbar>

<div class="db-main-content-area">
    <div class="container-fluid">

        <!-- My Profile -->
        <div class="db-my-profile-content">
            <ng-container *ngIf="(user$|async) as user">
                <ul>
                    <li>
                        <span>Nom complet</span>
                        : {{user.firstName}}
                    </li>
                    <li>
                        <span>Nom d'utilisateur</span>
                        : {{user.userName}}
                    </li>
                    <li>
                        <span>Email parent</span>
                        <a href=`mailto:${user.parentEmail}`>: {{user.parentEmail}}</a>
                    </li>
                    <!-- <li>
                        <span>Date de naissance</span>
                        : {{user.birthday*1000 | date: 'dd/MM/yyyy}}
                    </li> -->
                </ul>
            </ng-container>
        </div>

    </div>
</div>