<header class="header-area">

    <!-- Top Header -->
    <div 
        class="top-header"
        [ngClass]="{'style-two' : _router?.url === '/index-3', 'bg-color' : _router?.url === '/index-2'}"
    >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="header-left-content">
                        <li>
                            <a href="tel:+1(135)-1984-2020">
                                <i class="ri-phone-fill"></i>
                                +(235) 62 96 98 66
                            </a>
                        </li>
                        <li>
                            <a href="mailto:contact@wazalasms.org">
                                <i class="ri-mail-fill"></i>
                                contact@wazalasms.org
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="header-right-content">
                        <ng-container *ngIf="!isLogged">
                            <li>
                                <a routerLink="/login">
                                    <i class="ri-login-circle-line"></i>
                                    Connexion
                                </a>
                            </li>
                            <li>
                                <a routerLink="/register">
                                    <i class="ri-lock-line"></i>
                                    S'inscrire
                                </a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="isLogged">
                            <li>
                                <a class="cursor-pointer" (click)="signOut()">
                                    <i class="ri-logout-circle-r-line"></i> 
                                    Déconnexion
                                </a>
                            </li>
                        </ng-container>
                        <li>
                            <div class="navbar-option-item navbar-option-language dropdown language-option" [class.active]="switcherClassApplied"> 
                                <button class="dropdown-toggle" type="button" (click)="switcherToggleClass()">
                                    <i class="ri-global-line"></i>
                                    <span class="lang-name">Français</span>
                                </button>
                                <div class="dropdown-menu language-dropdown-menu"> 
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/language/arbic.png" alt="Image">
                                        العربيّة
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Navbar -->
    <div 
        class="navbar-area" 
        stickyClass="sticky-box-shadow" 
        ngStickyNav 
        [ngClass]="{'bg-color-f5f1ee' : _router?.url === '/index-3'}"
    >
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" [class.active]="classApplied">
                <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" (click)="toggleClass()">
                    <span class="burger-menu">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/courses" class="nav-link dropdown-toggle">Cours</a>
                        </li>
                        <li class="nav-item mega-menu">
                            <a routerLink="/about" class="nav-link dropdown-toggle">A propos</a>
                        </li>
                        <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                    </ul>
                    <div class="others-options">
                        <form>
                            <input class="form-control" type="search" placeholder="Recherche" aria-label="Search">
                            <button class="btn search-btn" type="submit"><i class="ri-search-line"></i></button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</header>